* {
    font-family: 'Padauk', sans-serif;
}

.hero {
    background-image: url("../img/1-hero-image.png");
    padding-top: 20px;
    height: 750px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero ul,
.footer ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin: 0;
}

.footer ul {
    color: #484848;
}

.hero li,
.footer li {
    align-self: center;
    cursor: pointer;
}

.hero li:nth-child(5)::after {
    content: 'apply';
    text-transform: uppercase;
    border: 1px solid #ffa837;
    color: #ffa837;
    font-size: 12px;
    border-radius: 10%;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.hero button,
.our-work button,
.our-plans button,
.our-news button,
.consult button {
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
}

.text-white {
    color: white;
}

.blue {
    background-color: #0369d7;
    border-color: #0369d7;
    color: white;
}

.orange {
    background-color: #ffa837;
    border-color: #ffa837;
    color: white;
}

.white {
    background-color: white;
    border-color: black;
    color: black;
}

.hero img {
    height: 40px;
}

.hero-text {
    color: white;
    height: 70%;
}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
}

.expectations {
    background-image: url('../img/agency-seo-desk-front-800x380.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 830px;
    padding-top: 50px;
    background-color: #f8f8f8;
}

.expectations h2,
.expectations h5,
.top-services h2,
.top-services h5,
.our-work h2,
.our-plans h2,
.our-news h2,
.our-news h6,
.reviews h2,
.consult h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.expectations p,
.top-services p,
.our-work p,
.our-plans p,
.our-news p {
    text-align: center;
}

.my-card {
    text-align: center;
    background-color: white;
    margin: 10px;
}

.my-card i {
    color: #eca447;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-card p {
    font-size: 14px;
}

.my-cards {
    padding-top: 20px;
}

.my-p {
    font-size: 16px;
}

.top-services {
    background-image: url('../img/pattern_background.png');
    background-size: cover;
    background-color: #051642;
    height: 600px;
    padding-top: 50px;
}

.top-services h5,
.top-services h2,
.top-services p,
.consult h2,
.consult p {
    color: white;
}

.my-card-blue {
    background-color: #071B50;
    position: relative;
    padding-bottom: 20px;
}

.top-services a {
    color: #eca447;
}

.our-work {
    padding-top: 50px;
    height: 650px;
}

.our-work img {
    margin: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    margin-top: 20px;
}

.our-plans {
    background-image: url('../img/background1.jpg');
    background-size: cover;
}

.our-work button {
    margin-top: 40px;
}

.our-plans {
    padding-top: 50px;
    height: 600px;
}

.price {
    position: relative;
    width: 80px;
    height: 35px;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    margin-bottom: 40px;
}

.price p,
.price i {
    position: absolute;
}

.price i {
    font-size: 10px;
    bottom: 50%;
    left: 10%;
    top: 30%;
    padding: 0;
    color: black;
}

.price p:nth-child(3) {
    right: 0;
    font-size: 8px;
    color: #0369d7;
    top: 25%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
}

.price p:nth-child(4) {
    bottom: 0;
    right: 5%;
    margin: 0;
    font-size: 8px;
    font-style: italic;
}

.price p:nth-child(2) {
    color: #0369d7;
    left: 20%;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.my-cards-our-plans h5 {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.my-cards-our-plans button {
    margin-bottom: 20px;
}

.my-cards.my-cards-our-plans {
    margin-top: 20px;
}

.our-news {
    padding-top: 50px;
    background-color: #f8f8f8;
    padding-bottom: 50px;
}

.our-news h6 {
    color: #ffa837;
}

.smaller-p {
    font-size: 12px !important;
}

.our-news img {
    width: 100%;
    padding-bottom: 10px;
}

.bg-grey {
    background-color: #f8f8f8;
}

.reviews {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.reviews img {
    border-radius: 50%;
    height: 100px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.inline {
    display: inline-block;
}

.italic-p {
    font-family: font-family: 'Open Sans', sans-serif;
    ;
    font-style: italic;
}

.reviews h6::after {
    content: ',';
}

.reviews i {
    font-size: 10px;
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.sans-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.reviews hr {
    margin-top: 50px;
}

.my-row {
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.consult {
    height: 550px;
    background: url('../img/CTA-seo-1.jpg');
    position: relative;
    text-align: center;
}

.consult p {
    margin-top: 40px;
    font-size: 20px;
    padding-bottom: 20px;
}

.consult:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.translate {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0, -50%);
}

.footer {
    height: 300px;
    text-align: center;
}

.footer img {
    margin-bottom: 50px;
    margin-top: 50px;
}

.footer p {
    margin-top: 40px;
    color: grey;
}

.footer i {
    margin-top: 20px;
}

.footer a {
    color: black;
}